<div class="nav-panel-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    {{#with @root.page.componentVersion}}
      <!-- <h3 class="title"><a href="{{{relativize ./url}}}">{{./title}}</a></h3> -->
    {{/with}}
    {{> nav-menu-item component=site.components.overview }}
    {{> nav-menu-item component=site.components.quickstart }}
    {{> nav-menu-item component=site.components.todo-example }}
    {{> nav-menu-item component=site.components.endpoint }}
  </nav>
</div>
